
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header
{
    background-color:#e03e29f6;
    color: rgb(255, 255, 255);
    text-align: center;
    /*font-family: 'Roboto';*/
}

h1
{
	text-align: center;
	margin-bottom: rgba(0, 0, 0, 0.781);
}

body{
    font-family: 'Roboto';
    background-color: rgb(245, 239, 239);
}