*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header
{
    background-color: rgb(228, 36, 68);
    color: white;
    text-align: center;
}

body{
    font-family: 'Roboto';
    background-color: rgb(221, 60, 60);
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    width: 80%;
  }

