*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header
{
    background-color:#e03e29f6;
    color: rgb(255, 255, 255);
    text-align: center;
    /*font-family: 'Roboto';*/
}

.text{
    font-family: 'Roboto';
    background-color: rgb(245, 239, 239);
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    width: 80%;
  }

  h2
  {
    font-family: 'Roboto';
    background-color:#e03e29f6;
    color: rgb(255, 255, 255);
  }